# If SHELL and SHELL_OPTS aren't defined thr plumber will use the
# default shell /bin/sh with the -c option.
SHELL=/bin/sh
SHELL_OPTS='-c'

LastWin='acme/$(9p ls acme |sort -rn |sed 1q)'

# urls
type is text
data matches '(http|https|ftp|file|gopher|telnet)://[a-zA-Z0-9@\/\.\-_]+'
plumb start surf $data

# man pages
type is text
data matches '([a-zA-Z0-9\-_\/]+)\(([0-9])\)'
plumb start man $2 $1 |9p write acme/new/body
plumb start echo clean |9p write ${LastWin}/ctl

# images
type is text
data matches '([a-zA-Z0-9\/\-_\.@]+).(png|PNG|jpe?g|JPE?G)'
arg isfile $0
plumb start feh $file

# .pdf .ps
type is text
data matches '([a-zA-Z0-9\/\-_\.@]+).(pdf|ps)'
arg isfile $0
plumb start zathura $file

# plumb file to acme
type is text
data matches '.+'
arg isfile $0
plumb start sam $file

# A blank line expected after the last rule
